<h1>Signup</h1>

<%= form_for :user, url: '/users' do |f| %>

  <% if false %>
  Name: <%= f.text_field :name %>
  Email: <%= f.text_field :email %>
  Password: <%= f.password_field :password %>
  Password Confirmation: <%= f.password_field :password_confirmation %>
  <%= f.submit "Submit" %>
<% end %>


  <table class="table ">
  <thead>
    <tr>
      <th colspan="2"></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>First Name:<td>
      <td><%= f.text_field :first_name %><td>
    </tr>
    <tr>
      <td>Last Name:<td>
      <td><%= f.text_field :last_name %><td>
    </tr>
    <tr>
      <td>Email:<td>
      <td><%= f.text_field :email %><td>
    </tr>
    <tr>
      <td>Password:<td>
      <td><%= f.password_field :password %><td>
    </tr>
    <tr>
      <td>Confirm Password:<td>
      <td><%= f.password_field :password_confirmation %><td>
    </tr>
  </tbody>
</table>
    
<div class="signup_submit_btn">
  <%= f.submit "Submit" %>
</div>

<% end %>